<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AWSAccessKey" value="replace access key here"/>
    <add key="AWSSecretKey" value="replace secret key here"/>
    <add key="LambdaRole" value = "put lambda role which has the access to invoke lambda role"/>
  </appSettings>
</configuration>
